@font-face {
  font-family: lekton;
  src: url(../fonts/lekton004.otf) format(opentype);
  font-weight: normal;
}

@font-face {
  font-family: druk;
  src: url(../fonts/Druk-Heavy-Trial.otf) format(opentype);
  font-weight: normal;
}