@import url(fonts.css);

:root {
  --bg_color: #F5F5F0;
  --main_color: #1A1A1A;
  --secondary_color: #FF3333;
  --font_color: #FFFFFF;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

body {
  font-family: 'lekton', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card_materie {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 14vw;
  row-gap: 30px;
  column-gap: 30px;
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  border-radius: 25px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.card a {
  color: var(--font_color);
}

.card h1 {
  font-family: 'druk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
}

.card p {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.hero {
  background-color: var(--secondary_color);
  color: var(--font_color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero h1 {
  font-size: 8vw;
}

.hero p {
  font-size: 2vw;
}

.var1 {
  background-color: var(--secondary_color);
  color: var(--font_color);
}

.var2 {
  background-color: var(--bg_color);
  border: 1px var(--main_color) solid;
  color: var(--main_color);
}

.card_materie .card:nth-child(1) {  /*HERO*/
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

.card_materie .card:nth-child(2) {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

.card_materie .card:nth-child(3) {
  grid-column: 6 / 9;
  grid-row: 2 / 3;
}

.card_materie .card:nth-child(4) {
  grid-column: 9 / 13;
  grid-row: 2 / 3;
}

.card_materie .card:nth-child(5) {  /*CARD VERTICALE*/
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.card_materie .card:nth-child(6) {
  grid-column: 4 / 9;
  grid-row: 3 / 4;
}

.card_materie .card:nth-child(7) {
  grid-column: 9 / 13;
  grid-row: 3 / 4;
}

.card_materie .card:nth-child(8) {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
}

.card_materie .card:nth-child(9) {
  grid-column: 7 / 10;
  grid-row: 4 / 5;
}

.card_materie .card:nth-child(10) {
  grid-column: 10 / 13;
  grid-row: 4 / 5;
}

.card_materie .card:nth-child(11) {
  grid-column: 1 / 8;
  grid-row: 5 / 6;
}

.card_materie .card:nth-child(12) {
  grid-column: 8 / 13;
  grid-row: 5 / 6;
}

.var1:hover {
  box-shadow: 0px 0px 30px var(--secondary_color);
}

.var2:hover {
  box-shadow: 0px 0px 30px var(--main_color);
}

.contenuto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card h1 {
    line-height: 1;
    display: inline-block;
}

.card h1::before {
    content: '';
    margin-bottom: -0.17em;
    display: table;
}

.card h1::after {
    content: '';
    margin-top: -0.07em;
    display: table;
}


@media (max-width: 1200px){

  .card_materie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100vw;
  }

  .card {
    width: 80%;
    height: 45vw;
    padding: 35px;
  }

  .card h1{
    font-size: 8vw;
  }

  .hero h1 {
    font-size: 16vw;
  }
}

@media (max-width: 926px){
  .card_materie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100vw;
  }

  .card h1 {
    line-height: 1;
    display: inline-block;
  }

  .card h1::before {
      content: '';
      margin-bottom: -0.05em;
      display: table;
  }

  .card h1::after {
      content: '';
      margin-top: -0.19em;
      display: table;
  }

  .card {
    width: 100%;
    height: 40vw;
    padding: 20px;
  }

  .card h1 {
    font-size: 13vw;
  }

  .card p {
    font-size: 4.5vw;
  }

  .hero {
    gap: 30px;
  }

  .hero h1 {
    font-size: 20vw;
  }

}

@media only screen and (orientation: landscape) and (max-width: 926px){

  .card {
    padding: 30px;
    height: 40vw;
    width: 80%;
  }

  .card h1 {
    font-size: 8vw;
  }

  .card p {
    font-size: 3.5vw;
  }

  .hero {
    gap: 30px;
  }

  .hero h1 {
    font-size: 18vw;
  }
}

@media (max-width: 710px) {
  .card h1 {
    font-size: 10vw;
  }

  .hero h1 {
    font-size: 18vw;
  }
}