@import url(fonts.css);

:root {
  --bg_color: #F5F5F0;
  --main_color: #1A1A1A;
  --secondary_color: #FF3333;
  --font_color: #FFFFFF;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

body {
  height: 3000px;
  font-family: 'lekton', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.var1 {
  background-color: var(--secondary_color);
  color: var(--font_color);
}

.var2 {
  background-color: var(--bg_color);
  border: 1px var(--main_color) solid;
}

.card {
  width: 500px;
  height: 250px;
  border-radius: 25px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.var1:hover {
  box-shadow: 0px 0px 30px var(--secondary_color);
}

.var2:hover {
  box-shadow: 0px 0px 30px var(--main_color);
}

.contenuto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card a {
  color: var(--font_color);
}

.card h1 {
  font-family: 'druk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

.card p {
  text-transform: uppercase;
}

.card h1 {
    line-height: 1;
    display: inline-block;
}

.card h1::before {
    content: '';
    margin-bottom: -0.17em;
    display: table;
}

.card h1::after {
    content: '';
    margin-top: -0.07em;
    display: table;
}

@media (max-width: 926px) and (pointer: coarse){
  main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }

  .card {
    width: 80%;
    height: 25vh;
  }

  .card h1 {
    font-size: 12vw;
  }

  .card p {
    font-size: 4vw;
  }

}

@media only screen and (orientation: landscape) and (max-width: 926px) and (pointer: coarse) {
  
  
  .card {
    height: 40vw;
  }

  .card p {
    font-size: 3.5vw;
  }
}