@import url(fonts.css);

:root {
  --bg_color: #F5F5F0;
  --main_color: #1A1A1A;
  --secondary_color: #FF3333;
  --font_color: #FFFFFF;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

body {
  font-family: 'lekton', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    gap: 20px;
}

.descrizione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.descrizione h1 {
    font-size: 3vw;
}

.descrizione h2 {
    font-size: 2vw;
}

.descrizione p {
    font-size: 1.2vw;
    max-width: 75%;
    text-align: center;
}

.descrizione ul {
    list-style-type: disc;
    max-width: 60%;

    font-size: 1.2vw;
}

.descrizione li{
    padding: 10px;
}

.scheda_tecnica {
    padding-top: 50px;
    font-size: 0.9vw;
}

.scheda_tecnica p {
    font-weight: bold;
}

iframe {
    width: 85%;
    aspect-ratio: 16 / 9;
    margin-top: -41px;
    margin-bottom: 30px;
}