@import url(fonts.css);

:root {
  --bg_color: #F5F5F0;
  --main_color: #1A1A1A;
  --secondary_color: #FF3333;
  --font_color: #FFFFFF;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

body {
  font-family: 'lekton', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    gap: 20px;
}

.descrizione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.descrizione h1 {
    font-size: 3vw;
}

.descrizione h2 {
    font-size: 2vw;
    font-style: italic;
}

.descrizione p {
    font-size: 1.2vw;
    max-width: 75%;
    text-align: center;
}

.descrizione ul {
    list-style-type: disc;
    max-width: 60%;

    font-size: 1.2vw;
}

.descrizione li{
    padding: 10px;
}

.scheda_tecnica {
    padding-top: 50px;
    font-size: 0.9vw;
}

.scheda_tecnica p {
    font-weight: bold;
    font-style: italic;
}

iframe {
    width: 85%;
    aspect-ratio: 16 / 9;
    /*margin-top: -41px;*/
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    iframe {
        width: 105%;
        aspect-ratio: 16 / 9;
        /*margin-top: -41px;*/
        margin-bottom: 0;
    }

    main {
        max-width: 80%;
    }

    .descrizione {
        gap: 20px;
    }

    .descrizione h1 {
        font-weight: bold;
        font-size: 5vw;
    }

    .descrizione h2 {
        font-style: italic;
        font-size: 4vw;
        text-align: center;
    }

    .descrizione p {
        font-size: 3vw;
        max-width: 100%;
        text-align: left;
    }

    .descrizione ul {
        list-style-type: disc;
        max-width: 100%;
        font-size: 3vw;
        margin-left: 15px;
    }

    .descrizione li{
        padding: 10px;
    }

    .scheda_tecnica {
        padding-top: 50px;
        font-size: 2vw;
    }

    .scheda_tecnica p {
        font-weight: bold;
        font-style: italic;
    }
}

@media (max-width: 926px) {
    iframe {
        width: 105%;
        aspect-ratio: 16 / 9;
        /*margin-top: -21px;*/
        margin-bottom: 0;
    }

    main {
        max-width: 85%;
    }

    .descrizione {
        gap: 20px;
    }

    .descrizione h1 {
        font-weight: bold;
        font-size: 8vw;
    }

    .descrizione h2 {
        font-style: italic;
        font-size: 6vw;
        text-align: center;
    }

    .descrizione p {
        font-size: 6vw;
        max-width: 100%;
        text-align: left;
    }

    .descrizione ul {
        list-style-type: disc;
        max-width: 100%;
        font-size: 6vw;
        margin-left: 15px;
    }

    .descrizione li{
        padding: 10px;
    }

    .scheda_tecnica {
        padding-top: 50px;
        font-size: 4.5vw;
    }

    .scheda_tecnica p {
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (orientation: landscape) and (max-width: 926px) {
        iframe {
        width: 105%;
        aspect-ratio: 16 / 9;
        /*margin-top: -29px;*/
        margin-bottom: 0;
    }

    main {
        max-width: 85%;
    }

    .descrizione {
        gap: 20px;
    }

    .descrizione h1 {
        font-weight: bold;
        font-size: 8vw;
    }

    .descrizione h2 {
        font-style: italic;
        font-size: 6vw;
        text-align: center;
    }

    .descrizione p {
        font-size: 4vw;
        max-width: 100%;
        text-align: left;
    }

    .descrizione ul {
        list-style-type: disc;
        max-width: 100%;
        font-size: 4vw;
        margin-left: 15px;
    }

    .descrizione li{
        padding: 10px;
    }

    .scheda_tecnica {
        padding-top: 50px;
        font-size: 3vw;
    }

    .scheda_tecnica p {
        font-weight: bold;
        font-style: italic;
    }
}

@media (min-width: 769px) and (pointer: fine) {
    /* Specifica per macOS - rileva Retina display tipici dei Mac */
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .descrizione p{
            font-size: 1.5vw;
        }

        .descrizione ul {
            font-size: 1.5vw;
        }

        .scheda_tecnica {
            font-size: 1vw;
        }
    }
}